.card-component{
    border-radius: 5px;
    background: var(--primary);
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tags{
    font-size:12px;
    flex-wrap: wrap;
    margin-top:0px;
    display: flex;
    padding: 0;
}

.card-title{
    text-align: center;
    font-size:24px;
    margin-bottom:0px;
}

.link_outside{
    margin: 10px 0;
    justify-self: center;
    background: var(--dark);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--light);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.link_outside:hover{
    background: var(--primary);
    color: var(--dark)
}

.icon{
    height:18px;
}